button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
  justify-content: start;
}

